@import url("./oakes_grotesk/OakesGrotesk.css");
* {
  font-family: "Oakes Grotesk", sans-serif;
  user-select: none;
}

body {
  box-sizing: border-box;
  border: 4px solid #413C58;
  margin: 0;
  max-height: 100vh;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

button:focus {
  outline: none;
}

#app-container {
  height: calc(100vh - 4rem);
  padding: 2rem;
}

#app-controls {
  background: transparent;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 2rem 0 1.4rem;
  position: fixed;
  width: 100%;
  z-index: 101;
  -webkit-app-region: drag;
}
#app-controls button {
  align-items: center;
  background: #efefef;
  border: 4px solid transparent;
  border-radius: 50%;
  display: flex;
  font-weight: bold;
  font-size: 1.2rem;
  height: 32px;
  justify-content: center;
  margin-left: 0.5rem;
  transition: color 150ms, background 150ms;
  width: 32px;
  -webkit-app-region: no-drag;
}
#app-controls button:hover {
  background: #413C58;
  color: white;
  cursor: pointer;
}
#app-controls.reverse-controls {
  flex-direction: row-reverse;
}

#menu-container.active + #app-controls button {
  background: transparent;
  color: #A3C4BC;
}

#menu-container.active + #app-controls button:hover {
  background: #A3C4BC;
  color: white;
}

#menu-container {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  border: 4px solid #A3C4BC;
  color: #A3C4BC;
  font-size: 3em;
  height: 100vh;
  line-height: 1.3em;
  left: 0;
  opacity: 0;
  padding: 2rem;
  position: fixed;
  transition: opacity 150ms;
  top: 0;
  width: 100vw;
  z-index: -1;
}

#menu-container.active {
  z-index: 100;
}

#menu-container.active.opaque {
  opacity: 1;
}

#calculator-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 5.6rem);
  justify-content: space-between;
  padding-top: 2.4rem;
}

#calculator-output, #calculator-input {
  width: 100%;
}

#calculator-output {
  background-color: #efefef;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: calc(33vh - 6.6rem);
  justify-content: space-between;
  padding: 2rem;
  width: calc(100% - 4rem);
}

#current-equation {
  align-items: center;
  border-bottom: 2px solid transparent;
  display: flex;
  height: 25%;
  line-height: 2rem;
  font-size: 1.5rem;
  font-style: italic;
  transition: border 150ms;
}
#current-equation span {
  margin-right: 0.5rem;
}
#current-equation .operator {
  color: #413C58;
}

#current-equation.active {
  border-bottom: 2px solid #413C58;
}

#current-input {
  font-size: 4rem;
  text-align: right;
}
#current-input.small {
  font-size: 3.2rem;
}
#current-input.smaller {
  font-size: 2.4rem;
}
#current-input.smallest {
  font-size: 1.6rem;
}

#calculator-input {
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  height: calc(70vh - 2rem);
  justify-content: space-between;
  margin-left: -2.5%;
  width: 105%;
}

.input-button {
  align-items: center;
  background-color: #efefef;
  border-radius: 4px;
  border: 2px solid transparent;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 0px inset white;
  display: flex;
  flex: 1 0 auto;
  font-size: 2rem;
  font-weight: 300;
  justify-content: center;
  margin: 2.5%;
  overflow: hidden;
  padding: 1rem;
  transition: background 100ms, color 100ms, border 100ms, box-shadow 100ms;
  width: 20%;
}
.input-button.operator-button, .input-button.action-button {
  color: white;
  font-weight: bold;
}
.input-button.operator-button {
  color: #413C58;
}
.input-button.action-button {
  background-color: #413C58;
}
.input-button i {
  align-items: center;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.input-button:hover, .input-button:active {
  cursor: pointer;
}

.input-button:hover {
  border: 2px solid #413C58;
  box-shadow: 0px 0px 0px 1px inset white;
}

.input-button:active {
  background-color: #413C58;
  color: white;
}

/*# sourceMappingURL=style.css.map */
